<div class="image_Backgroup_main">   
        <div class='col-12'>  
             <!-- <ngb-carousel class="slider-align">  
                <ng-template ngbSlide>  
                        <h1>Welcome to Christ Church Youth</h1>
                    <div class="carousel-caption">  
                        <h3 style="color: yellow"></h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                        <h1>Youth Strengthended by Grace</h1>
                    <div class="carousel-caption">  
                        <h3 style="color: yellow"></h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                        <h1>The winner of this bible reader is LAWERENCE</h1>
                    <div class="carousel-caption">  
                        <h3 style="color: yellow"></h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                        <h1>How is it?</h1>
                    <div class="carousel-caption">  
                        <h3 style="color: yellow"></h3>  
                    </div>  
                </ng-template>   
            </ngb-carousel>    -->

            <div id="carouselExampleIndicators" class="carousel slide carousels_div" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <h1>Welcome to Christ Church Youth</h1>
                      </div>
                      <div class="carousel-item">
                            <h1>Youth Strengthended by Grace</h1>
                      </div>
                      <div class="carousel-item">
                            <h1>The winner of this bible reader is LAWERENCE</h1>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
        </div>  
      
    </div>  