<strong class="responsive-font-header">Instructions / Guide</strong>
<p class="responsive-font">
    Welcome Mr.Admin! <br>
    If you are seeing this page means, you are a authorized person to modify the data of our Christ church
    Youth website. We would request you too read the below instructions/guide fully before the modfication.
</p>
<strong class="responsive-font-header"> Note </strong>
<p class="responsive-font">
    There are three tabs inside this admin portal. <br>
    1.Youth Members <br>
    2.Bible Information <br>
    3.Youth Meeting Minutes of Meeting<br>
</p>
<strong class="responsive-font-header">1.Youth Members</strong>
<p class="responsive-font">
    In this page, You have to add the data of our youth members
</p>
<strong class="responsive-font-header">2.Bible Information</strong>
<p class="responsive-font">
    In this page, You can add/delete/edit the bible data. as of now, you have to enter it manually from the 
    Whatsapp Group on daily basis in order to show the realistic daily data to our youths.
    and this page contains maximum of last 50 records inorder to avoid huge data load
</p>