button {
    outline: none;
 }
 .menu-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
      color: #fff;
      background: #0b333f;
  }

  .church-icon {
    margin-bottom: 17px;
  }

  .navbar_fixed {
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
  }