<mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <h1>Daily Bible Reading App</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/participants'"> Participants </a>
        <a mat-button [routerLink]="'/totalCounts'"> Total Counts </a>
        <a mat-button [routerLink]="'/weekly'"> Weekly </a>
        <a mat-button [routerLink]="'/monthly'"> Monthly </a> 
        <a mat-button [routerLink]="'/top'"> Top 3 </a>
        <a mat-button [routerLink]="'/percentage'"> Percentage </a>
        <a mat-button [routerLink]="'/post'"> Admin </a>
  
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <router-outlet></router-outlet>