<br><br>
<header style="margin-top:8px">
  <div fxLayout="row" class="navbar navbar-expand-md navbar-dark bg-dark header-style"
  fxLayoutAlign="space-around center"
    >
    <nav class="navbar-nav" fxShow="true" fxFlex fxHide.lt-sm="true" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.gt-xs="space-evenly center">
      <li id="ccy-li-instruction" class="nav-item active">
        <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="[{ outlets: { adminbar: ['instructions'] } }]" 
        class="nav-link ccy-fblack" routerLinkActive="active-link">Instructions</a>
      </li>
      <li id="ccy-li-membersinfo" class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="[{ outlets: { adminbar: ['membersinfo'] } }]" 
        class="nav-link ccy-fblack" routerLinkActive="active-link">Youth Members</a>
      </li>
      <li id="ccy-li-bibleinfo" class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="[{ outlets: { adminbar: ['bibleinfo'] } }]" 
        class="nav-link ccy-fblack" routerLinkActive="active-link">Bible Info</a>
      </li>
      <li id="ccy-li-meetings" class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="[{ outlets: { adminbar: ['meetings'] } }]" routerLinkActive="active-link" 
        class="nav-link ccy-fblack">Youth Meeting MoM</a>
      </li>
      <li id="ccy-li-meetings" class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="[{ outlets: { adminbar: ['activity'] } }]" routerLinkActive="active-link" 
        class="nav-link ccy-fblack">Activity</a>
      </li>
      <li id="ccy-li-login" class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link ccy-fblack">Login</a>
      </li>
      <li id="ccy-li-logout" class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link ccy-fblack">LogOut</a>
      </li>

    </nav>
    <div fxHide="true" fxFlex fxShow.lt-sm="true" fxLayoutAlign.lt-sm="space-evenly center"
      *ngIf="loginService.isUserLoggedIn()">
      <button mat-icon-button [routerLink]="[{ outlets: { adminbar: ['instructions'] } }]" 
        routerLinkActive="active-link" >
        <mat-icon svgIcon='instruction'></mat-icon>
      </button>
      <button mat-icon-button [routerLink]="[{ outlets: { adminbar: ['membersinfo'] } }]" 
        routerLinkActive="active-link">
        <mat-icon svgIcon='members'></mat-icon>
      </button>
      <button mat-icon-button [routerLink]="[{ outlets: { adminbar: ['bibleinfo'] } }]"
        routerLinkActive="active-link">
        <mat-icon svgIcon='bible'></mat-icon>
      </button>
      <button mat-icon-button [routerLink]="[{ outlets: { adminbar: ['meetings'] } }]"
        routerLinkActive="active-link">
        <mat-icon svgIcon='meeting'></mat-icon>
      </button>
      <button mat-icon-button routerLink="/logout">
          <mat-icon svgIcon='logout'></mat-icon>
        </button>
      </div>
  </div>
</header>
<router-outlet name="adminbar"></router-outlet>  
