<div fxLayout="column" fxLayout.xs="column" class="card m-3 box" fxFlex="100">
    <div>
        <h5 class="card-header responsive-font-header">Youth Activity Details</h5>
        <div class="card-body">
            <form  #form="ngForm" [formGroup]="activityForm" class="responsive-font" fxLayout="row wrap" fxLayout.xs="column"
                fxLayoutAlign="start center" fxLayoutAlign.xs="start stretch" fxLayout.sm="column"
                fxLayoutAlign.sm="start stretch" fxLayoutGap="4px grid" (ngSubmit)="onSave()">
                
                <div fxFlex="66" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="70" appearance="outline">
                        <mat-label>TITLE</mat-label>
                        <input matInput  placeholder="Enter the Event Title"  formControlName="title">
                        <mat-error *ngIf="errorHandling('title', 'required')">
                            You must provide a Event Title
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <input formControlName="date" matInput [matDatepicker]="picker1" placeholder="Date of Event">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="errorHandling('date', 'required')">
                            Date of Meeting is required
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div fxFlex="33" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <mat-label fxFlex="30" style="text-align: right">Pics / Docs</mat-label>
                    <div fxFlex="60" class="nameElement">
                        <tr *ngFor="let pics of selectedPicsNames; let i = index">
                            <td (click)="onOpenClick(i)" style="cursor: pointer">{{pics.name}}
                                <a mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearNames(i,'pics')">
                                    <mat-icon>close</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </div>
                    <div fxFlex class="upload-btn-wrapper">
                        <a mat-mini-fab style="width: 32px;">
                            <mat-icon >attach_file</mat-icon>
                        </a>
                        <input type="file" name="myfile"
                         (change)="onPicsSelect($event)" accept=".png, .jpg, .jpeg, .pdf" />
                    </div>
                    <div fxFlex style="padding-left: 136px; font-size: 12px;">
                        Maximum 3 pics allowed (png,jpg,jpeg,pdf)</div>
                </div>

                <div fxFlex="33" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <mat-label fxFlex="30" style="text-align: right">Participated By</mat-label>
                    <div fxFlex="60"  class="nameElement">
                        <tr cellspacing="10"  *ngFor="let participants of selectedParticipationsNames; let i = index">
                            <td>{{participants.name}}
                                <a mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearNames(i,'participants')">
                                    <mat-icon>close</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </div>
                    <a fxFlex mat-mini-fab (click)="onSelectName('participants')">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>

                <div fxFlex="33" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <mat-label fxFlex="30" style="text-align: right">Organized By</mat-label>
                    <div fxFlex="60" class="nameElement">
                        <tr *ngFor="let organizers of selectedOrganizersNames; let i = index">
                            <td>{{organizers.name}}
                                <a mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearNames(i,'organizers')">
                                    <mat-icon>close</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </div>
                    <a fxFlex mat-mini-fab (click)="onSelectName('organizers')">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>

                <div fxFlex="33" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <mat-label fxFlex="30" style="text-align: right">Helped By</mat-label>
                    <div fxFlex="60" class="nameElement">
                        <tr *ngFor="let helpers of selectedHelpersNames; let i = index">
                            <td>{{helpers.name}}
                                <a mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearNames(i,'helpers')">
                                    <mat-icon>close</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </div>
                    <a fxFlex mat-mini-fab (click)="onSelectName('helpers')">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>

                <div fxFlex="99" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start center"
                    style="margin-top: 10px;">
                    <!-- <mat-form-field fxFlex="100">
                        <mat-label>Content</mat-label>
                        <textarea matInput placeholder="Enter the content of the Event" formControlName="content"></textarea>
                        <mat-error *ngIf="errorHandling('content', 'required')">
                            You must provide Event/Activity details
                        </mat-error>
                    </mat-form-field> -->
                    <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools'
                         formControlName="content">

                    </ejs-richtexteditor>
                </div>
                
                <div fxFlex="99" fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="center center"
                        style="margin-top: 8px;">
                    <button fxFlex="10" fxFlex.sm="30" fxFlex.xs="30" id="btn_bibleinfo_save" fxHide={{saveUP}} class="btn btn-primary"
                          [disabled]="activityForm.invalid || additionalFormValidation()" >Save</button>
                    <button fxFlex="10" fxFlex.sm="30" fxFlex.xs="33" id="btn_bibleinfo_save" fxHide={{!saveUP}} class="btn btn-primary"
                        [disabled]="activityForm.invalid || additionalFormValidation()">Update</button>
                    <a fxFlex="10" fxFlex.sm="30" fxFlex.xs="30" class="btn btn-secondary" (click)="onReset()">Clear</a>
                    <button fxFlex="10" fxFlex.sm="30" fxFlex.xs="30" class="btn btn-danger" disabled="true"
                         (click)="onDeleteRows()" [disabled]="activityForm.invalid || !saveUP">Delete</button>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div style="margin-top: -43px;"> 
        <div class="card-body">
            <app-activityDatatable  (rowValue)="selectRowValue($event)"></app-activityDatatable>
        </div>
    </div>
</div>