<app-post></app-post>

     <div class="card m-3">
      <h5 class="card-header">Add/Modify Bible Readers Data</h5>
      <div class="card-body">
          <form [formGroup]="registerForm" >
              <div class="form-row">
                  <div class="form-group col-3">
                      <label>Name</label>
                      <input type="text" formControlName="name" class="form-control"
                      [matAutocomplete]="autoname" 
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                          <div *ngIf="name.errors.required">Name is required</div>
                      </div>
                      <mat-autocomplete #autoname="matAutocomplete">
                        <mat-option *ngFor="let name of filteredNames | async" [value]="name">
                          {{name}}
                        </mat-option>
                      </mat-autocomplete>
                  </div>
                  <div class="form-group col-2">
                      <label>Date</label>
                      <input type="date" formControlName="date" class="form-control"/>
                      
                      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                          <div *ngIf="date.errors.required">Date is required</div>
                      </div>
                  </div>   
                  <div class="form-group col-2">
                  
                    <label>Books</label>
                    <input type="text" formControlName="books" class="form-control"
                    [matAutocomplete]="autobooks"
                    [ngClass]="{ 'is-invalid': submitted && books.errors }"/>

                     <div *ngIf="books.invalid && (books.dirty || books.touched)" class="invalid-feedback">
                        <div *ngIf="books.errors.required">Book Name is required</div>
                    </div>
                    <mat-autocomplete #autobooks="matAutocomplete">
                      <mat-option *ngFor="let book of filteredBooks | async" [value]="book">
                        {{book}}
                      </mat-option>
                    </mat-autocomplete>
                  
                </div>
                  <div class="form-group col-1">
                    <label>Chapter</label>
                    <input type="text" formControlName="chapter" class="form-control"/>
                    
                    <div *ngIf="chapter.invalid && (chapter.dirty || chapter.touched)" class="invalid-feedback">
                        <div *ngIf="chapter.errors.required">Chapter is required</div>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label>From Verse</label>
                    <input type="text" formControlName="fromVerse" class="form-control"/>
                    
                    <div *ngIf="fromVerse.invalid && (fromVerse.dirty || fromVerse.touched)" class="invalid-feedback">
                        <div *ngIf="fromVerse.errors.required">Chapter is required</div>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label>To Verse</label>
                    <input type="text" formControlName="toVerse" class="form-control"/>
                    
                    <div *ngIf="toVerse.invalid && (toVerse.dirty || toVerse.touched)" class="invalid-feedback">
                        <div *ngIf="toVerse.errors.required">Chapter is required</div>
                    </div>
                </div>                  
              </div>
              <div class="text-center">
                  <button class="btn btn-primary mr-1" (click)="onSave()">Save</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                  <button class="btn btn-danger"  (click)="onDeleteRows()">Delete</button>
              </div>
          </form>
      </div>
  </div> 


    