<div class="card-body responsive-font">
    <div fxLayout="row" fxLayoutGap="2px">
        <div fxFlex=" 10">
            S.NO
        </div>
        <div fxFlex=" 20">
            Date
        </div>
        <div fxFlex=" 20">
            Word Of God
        </div>
        <div fxFlex=" 20">
            About
        </div>
    </div>
</div>
<div class="card-body responsive-font">
    <div class="overflowBar">
        <div id="datatable_meeting" *ngFor="let element of MEETING_DATA" fxLayout="row" fxLayoutGap="2px" 
                style="cursor: pointer;" (click)="selectRow(element)" class="check">
            <div fxFlex="10">1</div>
            <div fxFlex="20">{{element.date}}</div>
            <div fxFlex="20">{{element.wog}}</div>
            <div fxFlex="20">{{element.aboutWog}}</div>
        </div>
    </div>
</div>